[user]
	name = Zhao Wei Liew
	email = zhaoweiliew@gmail.com
	signingKey = 162EB2271CBF48F8

[core]
	editor = nvim

[diff]
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[commit]
	gpgSign = true
