[user]
	name = Zhao Wei Liew
	email = zhaoweiliew@gmail.com
	signingKey = 162EB2271CBF48F8

[core]
	editor = lvim
	pager = delta

[diff]
	tool = lvimdiff
	colorMoved = default

[difftool "lvimdiff"]
	cmd = "lvim -d \"$LOCAL\" \"$REMOTE\""

[commit]
	gpgSign = true

[interactive]
	diffFilter = delta --color-only

[delta]
	# use n and N to move between diff sections
	navigate = true
	line-numbers = true

[merge]
	conflictStyle = zdiff3

[github]
	user = zwliew
[init]
	defaultBranch = main
